@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f3f3;
  --foreground: #1B2021;
}

.dark {
  --background: #1B2021;
  --foreground: #f3f3f3;
}

body {
  @apply font-primary leading-loose bg-primary dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css or styles/NavBar.module.css */

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 2px; /* Adjust padding for space between text and underline */
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Underline height */
  background-color: #3b82f6; /* Underline color (tailwind red-400) */
  transition: width 0.3s ease; /* Animation duration and easing */
}

.nav-link:hover::after {
  width: 100%;
  color: #3b82f6;
}

.word-link:hover {
  color: #3b82f6; /* Change text color on hover */
}
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 250ms, transform 250ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}